.list-item {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    &:not(:last-child) {
        border-bottom: 1px solid #898989;
    }
    &:nth-last-child(-n + 2){
        height: 40px;
    }
    &--left {
        width: 150px;
    }
    &--name {
        font-weight: 400;
    }
    &--price {
        font-size: 14px;
        font-weight: 400;
        color: #898989;
    }
}